@import "../../../assets/styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;
  transition: 0.2s;
  padding: 10px;

  &:hover {
    border-color: $yellow-color;

    .image,
    .image img {
      transform: scale(1.2);
      border-radius: 20px;
    }

    .image::before {
      background-color: transparent;
    }
    .name {
      color: $yellow-color;
      border-color: $yellow-color;
    }
  }
}

.image-error {
  width: 150px;
  height: 150px;
  color: red;
  border: 1px solid red;
  background-color: snow;
  text-align: center;
}

.image {
  position: relative;
  width: 150px;
  height: 150px;

  background-size: cover;
  background-clip: border-box;
  background-position: center top;

  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;

  &::before {
    transition: 0.2s;
    position: absolute;
    content: " ";
    width: 110%;
    left: -5%;
    height: 20px;
    z-index: 1;
    top: 50%;
    background-color: rgba(250, 235, 215, 0.339);
    filter: blur(5px);
    animation: rotateBorder 2s infinite linear;
  }

  & img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.2s;

    padding: 5px;
  }
}

@keyframes rotateBorder {
  from {
    transform: rotate(-45deg) translateY(-100px);
  }
  to {
    transform: rotate(-45deg) translateY(70px);
  }
}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  text-align: center;
  border: 2px solid $white-color;
  margin-top: 10px;
  color: $white-color;
  transition: 0.2s;
  padding: 5px;
}
