@import "../../../assets/styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;
  transition: 0.2s;
  padding: 10px;

  &:hover {
    border-color: $yellow-color;
    background-color: $primary-color-light;
    .image img {
      transform: scale(1.2);
    }
    .image::before {
      background-color: transparent;
    }
    .name {
      color: $yellow-color;
      border-color: $yellow-color;
    }
  }
}

.image {
  position: relative;
  width: 150px;
  height: 150px;

  background-position: center center;
  background-size: contain;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    transition: 0.2s;
    position: absolute;
    content: " ";
    width: 110%;
    left: -5%;
    height: 20px;
    top: 50%;
    background-color: antiquewhite;
    filter: blur(5px);
    z-index: -1;
    animation: rotateBorder 5s infinite linear;
  }

  & img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: 0.2s;

    padding: 5px;
  }
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  text-align: center;
  border: 2px solid $white-color;
  margin-top: 10px;
  color: $white-color;
  transition: 0.2s;
  padding: 5px;
}
