@import "../../../assets/styles/variables.scss";

.homeworld {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  overflow: hidden;

  &:hover {
    & .title {
      color: $yellow-color;
    }
  }
}

.image-error {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  color: red;
  background-color: $white-color;
  border-bottom: none;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.image {
  position: relative;
  width: max-content;
  overflow: hidden;
  border-radius: 10px 10px 0 0;

  & img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  &::before {
    transition: 0.2s;
    position: absolute;
    content: " ";
    width: 150%;
    height: 20px;
    z-index: 10;
    top: 75%;
    background-color: rgba(250, 235, 215, 0.339);
    filter: blur(5px);
    animation: rotateBorder 2s infinite linear;
  }
}

@keyframes rotateBorder {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translateY(-250px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translateY(40px);
    opacity: 0;
  }
}

.title {
  background-color: $primary-color-light;
  color: $black-color;
  font-size: 20px;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
