@import "../../assets/styles/variables.scss";

.leftbar {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
}

.btn__toggle {
  z-index: 10;
  position: fixed;
  top: 4px;
  right: 4px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: $yellow-color;
  border: none;
  border-radius: 4px;
  transition: 0.3s;

  & span {
    transition: 0.3s;
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 4px;
  }

  &.close {
    & span {
      position: absolute;
    }
    & span:nth-child(2) {
      display: none;
    }
    & span:first-child {
      rotate: 225deg;
    }
    & span:last-child {
      rotate: -45deg;
    }
  }
}

.content {
  z-index: 10;
  position: absolute;
  background-color: rgba(255, 250, 250, 0.28);
  backdrop-filter: blur(5px);
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  padding: 20px;
  position: sticky;

  transform: translateX(-100%);

  width: max-content;

  transition: 0.2s;

  backdrop-filter: blur(10px);

  &.show {
    transform: translateX(0px);
  }
}

.logo {
  margin-bottom: 40px;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $black-color;
    font-size: 36px;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

ul {
  & li {
    width: 100%;
    margin: 0.2rem 0;

    & a {
      position: relative;
      display: block;
      padding-left: 5px;

      width: 100%;
      transition: 0.3s;
      font-size: 24px;
      color: $black-color;

      &::before {
        opacity: 0;
        transition: 0.3s;
        transform: translateX(100px);
        display: block;
        content: "";
        background-image: url("./icons/link-item.svg");
        background-size: contain;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 10%;
        height: 30px;
        width: 30px;
      }

      &.active {
        background: $yellow-color;
        color: $black-color;
        padding-left: 2rem;

        &::before {
          transform: translateX(0px);
          opacity: 1;
        }
      }

      &:hover:not(.active) {
        background-color: $primary-color-light;
      }
    }
  }
}
