@import "../../assets/styles/variables.scss";

.leftbar {
  position: relative;
  background-color: $primary-color;
}

.content {
  overflow: hidden;
  position: sticky;
  top: 20%;

  width: max-content;

  transition: 0.2s;

  padding: 20px;
  backdrop-filter: blur(10px);
}

.logo {
  margin-bottom: 40px;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $black-color;
    font-size: 36px;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}

ul {
  & li {
    width: 100%;
    margin: 0.2rem 0;

    & a {
      position: relative;
      display: block;
      padding-left: 5px;

      width: 100%;
      transition: 0.3s;
      font-size: 24px;
      color: $black-color;

      &::before {
        opacity: 0;
        transition: 0.3s;
        transform: translateX(100px);
        display: block;
        content: "";
        background-image: url("./icons/link-item.svg");
        background-size: contain;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 10%;
        height: 30px;
        width: 30px;
      }

      &.active {
        background: $yellow-color;
        color: $black-color;
        padding-left: 2rem;

        &::before {
          transform: translateX(0px);
          opacity: 1;
        }
      }

      &:hover:not(.active) {
        background-color: $primary-color-light;
      }
    }
  }
}
