//styles
@import "./variables.scss";
//fonts
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap");

body {
  margin: 0;

  font-family: "Chakra Petch", sans-serif;
  color: $primary-color;
  font-size: 18px;
  font-weight: 400;

  background-color: $black-color;
}

::-webkit-scrollbar {
  width: 5px; /* ширина всей полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: $bg-color-primary; /* цвет зоны отслеживания */
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 20px;
}
