.wrapper {
  display: grid;
  grid-template:
    "leftbar main ." 1fr
    "leftbar footer ." minmax(50px, auto) / minmax(auto, max-content) minmax(
      320px,
      1200px
    )
    auto;

  gap: 100px;
  height: 100vh;
}

.main {
  grid-area: main;
  padding-top: 5rem;
}

.footer {
  grid-area: footer;
}

.leftbar {
  grid-area: leftbar;
}
